.App {
  margin-left: 30px;
}
.App-search {
  margin-bottom: 30px;
  margin-top: 20px;
}
input[type="text"] {
  border: none;
}
input:focus-visible {
  outline: none;
} 
.searchbox {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 8px;
}
.Add-Container {
  display: grid;
  grid-template-columns: 580px 580px;
  grid-auto-rows: 1fr;
  gap: 30px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: 5px 10px 8px 5px #888888;
  border-radius: 10px;
  /* background-color:beige; */
}
.text-primary {
  color: rgb(86, 84, 84);
  margin-top: 3px;;
}
.card-header {
  font-weight: bold;
  font-size: 1.5em;
  font-style: oblique;
  color: purple;
}
.image-container {
  height: 300px;
  width: 600px;
  display: flex;
  margin: 10px;
 justify-content: center;
}
.button {
  background-color: thistle;
  border: 2px solid thistle;
  border-radius: 5px;
  padding: 5px;
  color: black;
}
.button:active {
  background-color: gray;
  border: none;
}
img {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
}
.description {
  margin-bottom: 5px;
  font-weight: 400;
  color: purple;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


